<template class="live-assessment-card-template">
    <li class="live-assessment-card">
        <ul class="live-assessment-text-top-row">
            <li>
                <h4 class="live-assessment-title"></h4>
            </li>
            <li>
                <h5 class="live-assessment-type"></h5>
            </li>
        </ul>
        <ul class="live-assessment-text-bottom-row">
            <li class="">
                
            </li>
            <li>
                
            </li>
        </ul>

    </li>
</template>